{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-3 pr-4 dont-move">
            <div class="profile-section">
            <h3 class="white-important p-2">
                My Profile
            </h3>
            <article class="media content-section" style="height: 140px; width: 100%">
                {%  if user_profile != None %}
                    <div class="mt-2 d-flex full-width align-items-center">
                        <img
                           class="rounded-circle mr-3 img-fluid"
                           style="width: 90px; height: 90px;"
                           src="{{ user_profile.profile.image.url }}">
                        <div>
                            <h4 style="text-align: left"
                                    class="white-important">
                                {{ user_profile.username }}
                            </h4>
                            <h6 style="text-align: left"
                                    class="email-profile">
                                {{ user.email }}
                            </h6>

                        </div>
                    </div>
                {%  else %}
                    <div class="mt-2 d-flex full-width align-items-center">
                        <img
                           class="rounded-circle mr-3"
                           style="width: 90px; height: 90px;"
                           src="{{ user.profile.image.url }}">
                        <div>
                            <h4 style="text-align: left"
                                    class="white-important">
                                {{ user.username }}
                            </h4>
                           
                        </div>
                    </div>
                {%  endif %}
            </article>
            <article class="media content-section">
                <div class="row full-width pl-2">
                    <div class="col-6">
                            Followers
                    </div>
                    <div class="col-6">
                            Following
                    </div>
                    {%  if user_profile != None %}
                        <div class="col-6">
                            <h3 class="white-important follow-click">
                                <a href="{% url 'user-followers' user_profile.username %}">
                                    {{ user_profile.profile.followers }}
                                </a>
                            </h3>
                        </div>
                         <div class="col-6">
                            <a href="{% url 'user-follows' user_profile.username %}">
                                <h3 class="white-important follow-click">
                                    {{ user_profile.profile.following }}
                                </h3>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-6">
                            <a href="{% url 'user-followers' user.username %}">
                                <h3 class="white-important follow-click">
                                    {{ user.profile.followers }}
                                </h3>
                            </a>
                        </div>

                        <a href="{% url 'user-follows' user.username %}">
                            <div class="col-6">
                                <h3 class="white-important follow-click">
                                    {{ user.profile.following }}
                                </h3>
                            </div>
                        </a>
                    {%  endif %}
                </div>
            </article>

            <div class="d-flex">
                {%  if user_profile is not None and user_profile.id != user.id  and user.username != '' %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <button style="margin-left: 18px" class="btn btn-sm btn-outline-primary"
                                    name="{% if can_follow %}follow{% else %}unfollow{% endif %}"
                                    type="submit">
                                 {% if can_follow %}
                                     FOLLOW
                                 {% else %}
                                     UNFOLLOW
                                 {% endif %}
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="col-12 col-md-6 scrollable" >
            <div class="full-width row">
                <div class="col-6">
                    <h3 class="white-important mb-3">
                        My Feed
                    </h3>
                </div>
                 <div class="col-6 no-padding">
                    <h6
                            style="position: absolute; bottom: 0; right: 0"
                            class="white-important mb-3">
                        {{ page_obj.start_index }} - {{ page_obj.end_index }} of
                        {{ paginator.count }}
                    </h6>
                </div>
            </div>

            {% for post in posts %}
                <article class="media content-section hovered-tweet">
                <div style="width: 100%; word-break: break-all;">
                    <div class="pb-0 row m-0" style="width: 100%; margin-right: 0 !important;">
                       <div style="padding-left: 0px !important;"
                               class="col-8 no-padding d-flex align-items-center">
                           <img
                               class="rounded-circle mr-2"
                               style="width: 20px; height: 20px;"
                               src="{{ post.author.profile.image.url }}">
                           <a class="mr-2 white-important" href="{% url 'user-posts' post.author %}">
                               {{ post.author }}
                           </a>
                       </div>
                       <div class="col-4 d-flex flex-row-reverse no-padding align-items-center"
                            style="padding-right: 0 !important;">
                           {% if post.author == user %}
                                <a class="material-icons ml-2"
                                   style="font-size: 14px"
                                        href="{% url 'post-delete' post.id %}">clear</a>
                                <a class="material-icons ml-2"
                                   style="font-size: 14px"
                                        href="{% url 'post-update' post.id %}">update</a>
                            {%  endif %}
                       </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-2 bd-highlight">
                            <img
                               class="square mr-3 img-fluid"
                               style="width: 350px; height: 250px;"
                               src="{{ post.image_post.url }}"> 
                        </div>        
                        <div class="d-flex flex-column bd-highlight mb-5">
                           <div class="p-2 bd-highlight"> 
                                {% if post.servings_meat == 0 %}
                                 
                                {% elif post.servings_meat == 1 %}
                                    <i class="fas fa-drumstick-bite text-warning mr-2 h2"></i>
                                {% elif post.servings_meat == 2 %}
                                     <i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i>
                                {% elif post.servings_meat == 3 %}
                                   <i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i>
                                {% elif post.servings_meat == 4 %}
                                    <i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i>
                                {% elif post.servings_meat == 5 %}
                                   <i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i>
                                {% elif post.servings_meat == 6 %}
                                     <i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i><i class="fas fa-drumstick-bite text-warning mr-2 h2"></i>             
                                {% else %}
                                    Print('Invalid # of servings')
                                {% endif %}
                            </div>
                            
                            <div class="p-2 bd-highlight"> 
                                {% if post.servings_grains == 0 %}
                                 
                                {% elif post.servings_grains == 1 %}
                                   <i class="fas fa-bread-slice mr-2 h2"></i>
                                {% elif post.servings_grains == 2 %}
                                   <i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i>
                                {% elif post.servings_grains == 3 %}
                                   <i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i>
                                {% elif post.servings_grains == 4 %}
                               <i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i>
                                {% elif post.servings_grains == 5 %}
                                    <i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i>
                                {% elif post.servings_grains == 6 %}
                                    <i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i><i class="fas fa-bread-slice mr-2 h2"></i>                     
                                {% else %}
                                    Print('Invalid # of servings')
                                {% endif %}
                            </div>
                            
                             <div class="p-2 bd-highlight"> 
                                {% if post.servings_dairy == 0 %}
                                 
                                {% elif post.servings_dairy == 1 %}
                                   <i class="fas fa-cheese text-warning mr-2 h2"></i>
                                {% elif post.servings_dairy == 2 %}
                                   <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i>
                                {% elif post.servings_dairy == 3 %}
                                    <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i>
                                {% elif post.servings_dairy == 4 %}
                                    <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i>
                                {% elif post.servings_dairy == 5 %}
                                    <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i>
                                {% elif post.servings_dairy == 6 %}
                                    <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i> <i class="fas fa-cheese text-warning mr-2 h2"></i>
                          
                                   
                                {% else %}
                                    Print('Invalid # of servings')
                                {% endif %}
                            </div>
                            
                            <div class="p-2 bd-highlight"> 
                                {% if post.servings_vegetables == 0 %}
                                 
                                {% elif post.servings_vegetables == 1 %}
                                    <i class="fas fa-seedling h2 text-success mr-2"></i>  
                                {% elif post.servings_vegetables == 2 %}
                                    <i class="fas fa-seedling h2 text-success mr-2"></i>  <i class="fas fa-seedling h2 text-success mr-2"></i>
                                {% elif post.servings_vegetables == 3 %}
                                   <i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i>
                                {% elif post.servings_vegetables == 4 %}
                                    <i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i>
                                {% elif post.servings_vegetables == 5 %}
                                   <i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i>
                                {% elif post.servings_vegetables == 6 %}
                                    <i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i><i class="fas fa-seedling h2 text-success mr-2"></i>     
                                {% else %}
                                    Print('Invalid # of servings')
                                {% endif %}
                            </div>
                            
                            <div class="p-2 bd-highlight"> 
                                {% if post.servings_fruit == 0 %}
                                 
                                {% elif post.servings_fruit == 1 %}
                                    <i class="fas fa-apple-alt text-danger h2 mr-2"></i>
                                {% elif post.servings_fruit == 2 %}
                                    <i class="fas fa-apple-alt text-danger h2 mr-2"></i><i class="fas fa-apple-alt text-danger h2 mr-2"></i>
                                {% elif post.servings_fruit == 3 %}
                                    <i class="fas fa-apple-alt text-danger h2 mr-2"></i><i class="fas fa-apple-alt text-danger h2 mr-2"></i><i class="fas fa-apple-alt text-danger h2 mr-2"></i>
                                {% elif post.servings_fruit == 4 %}
                                    <i class="fas fa-apple-alt text-danger h2 mr-2"></i><i class="fas fa-apple-alt text-danger h2 mr-2"></i><i class="fas fa-apple-alt text-danger h2 mr-2"></i><i class="fas fa-apple-alt text-danger h2 mr-2"></i>
                                {% elif post.servings_fruit == 5 %}
                                   <i class="fas fa-apple-alt text-danger h2 mr-2"></i> <i class="fas fa-apple-alt text-danger h2 mr-2"></i> <i class="fas fa-apple-alt text-danger h2 mr-2"></i> <i class="fas fa-apple-alt text-danger h2 mr-2"></i> <i class="fas fa-apple-alt text-danger h2 mr-2"></i>
                                {% elif post.servings_fruit == 6 %}
                               <i class="fas fa-apple-alt text-danger h2 mr-2"></i> <i class="fas fa-apple-alt text-danger h2 mr-2"></i> <i class="fas fa-apple-alt text-danger h2 mr-2"></i> <i class="fas fa-apple-alt text-danger h2 mr-2"></i> <i class="fas fa-apple-alt text-danger h2 mr-2"></i> <i class="fas fa-apple-alt text-danger h2 mr-2"></i>
                                {% else %}
                                    Print('Invalid # of servings')
                                {% endif %}
                            </div>
                            <div class="p-2 bd-highlight h2 white-important"> 
                                {% if post.minutes_aerobic_exercise == 0 %}
                                 
                                {% else %}
                                    <i class="fas fa-running text-primary mr-2 h1"></i> {{post.minutes_aerobic_exercise}} minutes
                                {% endif %}
                            </div>
                            <div class="p-2 bd-highlight h2 white-important"> 
                                {% if post.minutes_weightlifting_exercise == 0 %}

                                {% else %}
                                 <i class="fas fa-dumbbell text-warning mr-2 h1"></i> {{post.minutes_weightlifting_exercise}} minutes
                                {% endif %}
                            </div>
                        </div>
                    </div>
            
            
                    <div
                        class="mb-2 "
                        style="width: 100%; height: 1px; background-color: rgba(255, 255, 255, 255)"></div>
                        <a style="color: rgba(255, 255, 255, 0.5) !important;">
                        <div class= "white-important">
                            <p>
                             {{ post.content }}
                            </p>
                        </div>
                        
                    <div class="row white-important">
                        <div class="col-6" style="display: flex;">
                            <small style="opacity: 0.4;">

                                    <!-- Like Buttons Here -->
                                    <a href="#" onClick="document.getElementById('likebutton').submit()">
                                            {% if post.likes == 1  %}
                                            <i style="color: red; font-size: 16px;" class="far fa-heart"></i>
                                            {% else %}
                                            <i style=" font-size: 16px;" class="far fa-heart"></i>
                                            {% endif %}

                                             {{post.likes}} like(s)

                                    </a>

                                    <form id="likebutton" method="POST" action="{% url 'postpreference' post.id 1%}">
                                    {% csrf_token %}
                                    <input type="hidden">
                                    </form>


                                </small>
                                <small style="opacity: 0.4; margin-left:15px;">
                                    <a href="/post/{{post.id}}/">
                                        <i style=" font-size: 16px;" class="far fa-comment"></i> {{ post.number_of_comments }} comment(s)
                                    </a>

                                </small>
                            </div>
                        
                        <div class="col-6">
                                <small
                                        style="opacity: 0.4;"
                                    class="white-important d-flex full-width flex-row-reverse">
                                    {{ post.date_posted | date:"H:i l, d.m.y" }}
                                </small>
                            </div>
                        </div>

                </div>
                </article>
            {% endfor %}

            <div class="full-width d-flex justify-content-center">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                href="?page=1">First</a>
                        <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-sm btn-info mb-4 mr-2"
                                href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                href="?page={{ page_obj.next_page_number }}">Next</a>
                           <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                            href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-3 dont-move">
            <form action="{% url 'search' %}" method="post">{% csrf_token %}
                <div class="search-container">
                    <div class="search">
                    <input required name="search" type="text" id="zip-code-input" placeholder="Search">
                    <button type="submit" style="border:0; background: transparent;"><i class="fa fa-search"></i> </button> </a>
                </form>
              </div>
            </div>
            <h3 class="white-important mb-3 mt-4"> Explore </h3>

                {%  if user_profile is None %}

                <article class="t-section media content-section">

                    <div class="row ">
                        <div class="col-12">
                            <h3>Who to follow</h3>
                        </div>
                        <ul class="col-12 mt-2">
                            {% for user in all_users %}
                                <li>
                                    <div class="who-to-follow">

                                        <div
                                               style="padding-left: 0px !important;"
                                               class="col-8 no-padding d-flex align-items-center">
                                           <img
                                               class="rounded-circle mr-2"
                                               style="width: 20px; height: 20px;"
                                               src="{{ user.profile.image.url }}">
                                           <a class="mr-2 white-important" href="{% url 'user-posts' user.username %}">
                                               {{ user.username }}
                                           </a>
                                       </div>
                                        <p>{{ user.email }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>

                </article>
                {% endif %}
               
        </div>
    </div>
{% endblock content %}
